; ==========================================================
; MAP NAME: dod_omahabeach3
; DOWNLOAD: https://gamebanana.com/mods/65747
;
; PURPOSE:
;   - Create touch triggers to open doors
;   - Set time limit
;   - Turn off in game adverts
;	- Add touch triggers to Bangalores
;	- Add smoke to Bangalores to help find them
;
; NOTES:
;   - n/a
; ==========================================================

; ==========================================================
; Add touch triggers to Bangalores on beach
; 
; ==========================================================

; --- Barbwire Right - Enable Proximity Trigger ---

; Ensure the button is named so the trigger can activate it
modify:
{
    match:
    {
        "hammerid" "344027"
    }
    insert:
    {
        "targetname" "btn_barbwire_right"
    }
}

; Proximity trigger for barbwire interaction (Chest Height)
add:
{
    "model" "*10"
    "targetname" "trig_barbwire_right"
    "classname" "trigger_multiple"
    "origin" "1658.80 -2343.04 -110"
    "spawnflags" "1"
    "wait" "3"
    "StartDisabled" "0"
    "OnStartTouch" "btn_barbwire_right,Press,,0,1"
}

; --- Barbwire Center - Enable Proximity Trigger ---

; Give the button a targetname so the trigger can find it
modify:
{
    match:
    {
        "hammerid" "292984"
    }
    insert:
    {
        "targetname" "btn_barbwire_center"
    }
}

; Proximity trigger for barbwire interaction (Chest Height)
add:
{
    "model" "*10"
    "targetname" "trig_barbwire_center"
    "classname" "trigger_multiple"
    "origin" "497.45 -2338.56 -112"
    "spawnflags" "1"
    "wait" "3"
    "StartDisabled" "0"
    "OnStartTouch" "btn_barbwire_center,Press,,0,1"
}


; --- Barbwire Left - Enable Proximity Trigger ---

; Give the button a targetname so the trigger can find it
modify:
{
    match:
    {
        "hammerid" "597431"
    }
    insert:
    {
        "targetname" "btn_barbwire_left"
    }
}

; Proximity trigger for barbwire interaction (Chest Height)
add:
{
    "model" "*10"
    "targetname" "trig_barbwire_left"
    "classname" "trigger_multiple"
    "origin" "-704.11 -2391.92 -110.72"
    "spawnflags" "1"
    "wait" "3"
    "StartDisabled" "0"
    "OnStartTouch" "btn_barbwire_left,Press,,0,1"
}


; ==========================================================
; Add smoke to Bangalores on beach
; 
; ==========================================================

; --- Right Wire ---
modify:
{
	match:
	{	
	    "hammerid" "344095"
	}
	insert:
	{
	    "OnPass" "barbwire_right_smoke,TurnOff,,5,1"
	    "OnPass" "blow_the_wire,disable,,0,1"
	}
}

add:
{
	"targetname" "barbwire_right_smoke"
	"origin" "1666.563965 -2314.388672 -158.710861"
	"WindSpeed" "20"
	"WindAngle" "12"
	"twist" "2"
	"StartSize" "20"
	"SpreadSpeed" "15"
	"Speed" "40"
	"SmokeMaterial" "particle/SmokeStack.vmt"
	"rendercolor" "57 81 55"
	"renderamt" "255"
	"Rate" "20"
	"JetLength" "200"
	"InitialState" "1"
	"EndSize" "40"
	"BaseSpread" "20"
	"angles" "0 0 0"
	"classname" "env_smokestack"
}


; --- Middle Wire ---
modify:
{
	match:
	{	
	    "hammerid" "311563"
	}
	insert:
	{
	    "OnPass" "barbwire_center_smoke,TurnOff,,5,1"
	    "OnPass" "blow_the_wire,disable,,0,1"
	}
}

add:
{
	"targetname" "barbwire_center_smoke"
	"origin" "496.961334 -2285.902832 -161.205490"
	"WindSpeed" "20"
	"WindAngle" "12"
	"twist" "2"
	"StartSize" "20"
	"SpreadSpeed" "15"
	"Speed" "40"
	"SmokeMaterial" "particle/SmokeStack.vmt"
	"rendercolor" "57 81 55"
	"renderamt" "255"
	"Rate" "20"
	"JetLength" "200"
	"InitialState" "1"
	"EndSize" "40"
	"BaseSpread" "20"
	"angles" "0 0 0"
	"classname" "env_smokestack"
}


; --- Left Wire ---
modify:
{
	match:
	{	
	    "hammerid" "597434"
	}
	insert:
	{
	    "OnPass" "barbwire_left_smoke,TurnOff,,5,1"
	    "OnPass" "blow_the_wire,disable,,0,1"
	}
}

add:
{
	"targetname" "barbwire_left_smoke"
	"origin" "-706.193970 -2348.363281 -164.308426"
	"WindSpeed" "20"
	"WindAngle" "12"
	"twist" "2"
	"StartSize" "20"
	"SpreadSpeed" "15"
	"Speed" "40"
	"SmokeMaterial" "particle/SmokeStack.vmt"
	"rendercolor" "57 81 55"
	"renderamt" "255"
	"Rate" "20"
	"JetLength" "200"
	"InitialState" "1"
	"EndSize" "40"
	"BaseSpread" "20"
	"angles" "0 0 0"
	"classname" "env_smokestack"
}

; ==========================================================
; Misc. tweaks
; 
; ==========================================================

; --- Increase time limit ---
modify:
{
	match:
	{	
		"hammerid" "361008"
		"classname" "dod_control_point_master"
	}
	replace:
	{
	    "cpm_timer_length" "900"
	    "cpm_use_timer" "1"
	}		
}

; --- Turn off adverts ---
modify:
{
	match:
	{	
		"classname" "logic_timer"
		"hammerid" "331961"
	}
	replace:
	{
	    "StartDisabled" "1"
	}		
}

; --- Remove Allied spawns inside wire. ---
remove:
{
   "targetname" "info_player_allied_spawn2"
}


; --- Remove Bomb Dispensers from Guns ---
remove:
{
    "model" "*5"
    "StartDisabled" "0"
    "dispense_team" "2"
    "classname" "dod_bomb_dispenser"
    "hammerid" "380110"
}
remove:
{
    "model" "*6"
    "StartDisabled" "0"
    "dispense_team" "2"
    "classname" "dod_bomb_dispenser"
    "hammerid" "380178"
}


; ==========================================================
; Auto-Open Doors Config
; Standardizes all bunker doors to open both ways
; and adds proximity triggers
; ==========================================================

; Set all doors to open both ways
modify:
{
    match:
    {
        "classname" "prop_door_rotating"
    }
    replace:
    {
        "opendir" "0"
    }
}

; --- Beach Entrance - Left (HammerID 329111) ---
add:
{
    "model" "*10"
    "targetname" "trig_trench_outside"
    "classname" "trigger_multiple"
    "origin" "548.32 -1201.00 -280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_trench_entry01,OpenAwayFrom,trig_trench_outside,0,-1"
}
add:
{
    "model" "*10"
    "targetname" "trig_trench_inside"
    "classname" "trigger_multiple"
    "origin" "551.75 -1131.00 -280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_trench_entry01,OpenAwayFrom,trig_trench_inside,0,-1"
}

; --- Beach Entrance - Right / MG Room (HammerID 356140) ---
modify:
{
    match:
    {
        "hammerid" "356140"
    }
    insert:
    {
        "targetname" "door_bunker_356140"
    }
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker_356140_out"
    "classname" "trigger_multiple"
    "origin" "1793.47 -479 -344"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker_356140,OpenAwayFrom,trig_bunker_356140_out,0,-1"
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker_356140_in"
    "classname" "trigger_multiple"
    "origin" "1793.47 -409 -344"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker_356140,OpenAwayFrom,trig_bunker_356140_in,0,-1"
}

; --- Center Stairway Exit (Bunker 03a) ---
add:
{
    "model" "*10"
    "targetname" "trig_bunker03a_out"
    "classname" "trigger_multiple"
    "origin" "337.47 471 280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker03a,OpenAwayFrom,trig_bunker03a_out,0,-1"
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker03a_in"
    "classname" "trigger_multiple"
    "origin" "337.47 541 280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker03a,OpenAwayFrom,trig_bunker03a_in,0,-1"
}

; --- Center Stairway Exit (Bunker 03b) ---
add:
{
    "model" "*10"
    "targetname" "trig_bunker03b_out"
    "classname" "trigger_multiple"
    "origin" "334 787 280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker03b,OpenAwayFrom,trig_bunker03b_out,0,-1"
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker03b_in"
    "classname" "trigger_multiple"
    "origin" "334 857 280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker03b,OpenAwayFrom,trig_bunker03b_in,0,-1"
}

; --- Bunker - Right - Rear Corridor (Bunker 04) ---
add:
{
    "model" "*10"
    "targetname" "trig_bunker04_out"
    "classname" "trigger_multiple"
    "origin" "1329.47 190 280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker04,OpenAwayFrom,trig_bunker04_out,0,-1"
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker04_in"
    "classname" "trigger_multiple"
    "origin" "1329.47 260 280"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker04,OpenAwayFrom,trig_bunker04_in,0,-1"
}

; --- Bunker - Left - Axis Spawn Room (HammerID 941056) ---
modify:
{
    match:
    {
        "hammerid" "941056"
    }
    insert:
    {
        "targetname" "door_bunker_941056"
    }
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker_941056_in"
    "classname" "trigger_multiple"
    "origin" "-742.06 -612.02 296"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker_941056,OpenAwayFrom,trig_bunker_941056_in,0,-1"
}

; --- Bunker - Left - Exit (Bunker Est) ---
add:
{
    "model" "*10"
    "targetname" "trig_bunker_est_out"
    "classname" "trigger_multiple"
    "origin" "-861.47 -403 288"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker_est,OpenAwayFrom,trig_bunker_est_out,0,-1"
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker_est_in"
    "classname" "trigger_multiple"
    "origin" "-861.47 -333 288"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker_est,OpenAwayFrom,trig_bunker_est_in,0,-1"
}

; --- Bunker - Right - Exit (Bunker West) ---
add:
{
    "model" "*10"
    "targetname" "trig_bunker_west_out"
    "classname" "trigger_multiple"
    "origin" "1201.46 -122 288"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker_west,OpenAwayFrom,trig_bunker_west_out,0,-1"
}
add:
{
    "model" "*10"
    "targetname" "trig_bunker_west_in"
    "classname" "trigger_multiple"
    "origin" "1201.46 -52 288"
    "spawnflags" "1"
    "wait" "1"
    "StartDisabled" "0"
    "OnStartTouch" "door_bunker_west,OpenAwayFrom,trig_bunker_west_in,0,-1"
}