; ==========================================================
; MAP Name: dod_helms_attack_v2
; DOWNLOAD: https://gamebanana.com/mods/64222
;
; PURPOSE:
;   - Make map more bot friendly
;
; NOTES:
;   - n/a
; ==========================================================

; ==========================================================
; Open the doors
; 
; ==========================================================

; --- Courtyard Exit - Right ---
modify:
{
	match:
	{	
		"classname" "func_door_rotating"
        "origin" "773 736 236"
	}
	replace:
	{
	    "spawnflags" "32768"
	}		
    insert:
	{
	    "spawnpos" "1"
	}	
}

; --- Courtyard Exit - Left ---
modify:
{
	match:
	{	
		"classname" "func_door_rotating"
        "origin" "1609 1451 864"
	}
	replace:
	{
	    "spawnflags" "32768"
	}		
    insert:
	{
	    "spawnpos" "1"
	}	
}

; --- Axis Spawn Door - Right ---
modify:
{
	match:
	{	
		"classname" "func_door_rotating"
        "origin" "709 1384 172"
	}
	replace:
	{
	    "spawnflags" "32768"
	}		
    insert:
	{
	    "spawnpos" "1"
	}	
}

; --- Axis Spawn Door - Left ---
modify:
{
	match:
	{	
		"classname" "func_door_rotating"
        "origin" "1719 1451 864"
	}
	replace:
	{
	    "spawnflags" "2050"
	}		
    insert:
	{
	    "spawnpos" "1"
	}	
}


; --- Make better point_viewcontrol ---
modify:
{
	match:
	{	
		"classname" "point_viewcontrol"
	}
	replace:
	{
	    	"origin" "2119.946045 -105.236359 975.973816"
            "angles" "38.543938 159.593719 0.000000"
	}	
}


; --- Swap spawns to have zombies spawn on beach ---
modify:
{
	match:
	{	
		"classname" "info_player_axis"
	}
    insert:
	{
		"targetname" "new_allies"
	}	
}

modify:
{
	match:
	{	
		"classname" "info_player_allies"
	}
    insert:
	{
		"targetname" "new_axis"
	}	
}

modify:
{
	match:
	{	
		"targetname" "new_allies"
	}
    replace:
	{
	    "classname" "info_player_allies"
	}	
}

modify:
{
	match:
	{	
	"targetname" "new_axis"
	}
    replace:
	{
	    "classname" "info_player_axis"
	}	
}

; --- Blow the Walls/Doors ---

add:
{
	"origin" "0 0 0"
	"targetname" "servercommand"
	"classname" "point_servercommand"
}

add:
{
	"origin" "0 0 0"
	"spawnflags" "1"
	"classname" "logic_auto"
	"OnMultiNewRound" "open_the_doors,Trigger,,30,1"
	"OnMultiNewRound" "servercommand,Command,sm_csay Walls are being breached! 20 Seconds,10,1"
	"OnMultiNewRound" "servercommand,Command,sm_csay Walls are being breached! 10 Seconds,20,1"
	"OnMultiNewRound" "servercommand,Command,sm_csay Walls are breached! !,30,1"
}

add:
{
	"origin" "0 0 0"
	"classname" "logic_relay"
	"targetname" "open_the_doors"
	"OnTrigger" "grate_grate,Break,,0,-1"
	"OnTrigger" "grate_wall1,Break,,0,-1"
	"OnTrigger" "grate_wall2,Break,,0,-1"
	"OnTrigger" "grate_gibs,Shoot,,0,-1"
	"OnTrigger" "grate_shake,StartShake,,0,-1"
	"OnTrigger" "grate_boom,Explode,,0,-1"
	"OnTrigger" "main_door,Break,,0,-1"
}