; ==========================================================
; MAP Name: dod_omaha_2_tunnels_2_tanks_parachute
; DOWNLOAD: http://otktronetown.site.nfoservers.com/server/maps/dod_omaha_2_tunnels_2_tanks_parachute.bsp
;
; PURPOSE:
;   - Make map more RCBot2 friendly
;   - 
;
; NOTES:
;   - n/a
; ==========================================================


; ==========================================================
; Misc Changes
; 
; ==========================================================

; --- Force Crapper Door to cap open ---
modify:
{
	match:
	{	
        "classname" "func_door"
        "hammerid" "128042"
        "targetname" "crapper_door_up"
	}
	replace:
	{
	    "spawnpos" "1"
	}
}

modify:
{
	match:
	{	
        "classname" "func_door"
        "targetname" "crapper_door_down"
	}
	replace:
	{
	    "spawnflags" "1"
	}
}

; --- Disable Crapper Door buttons ---
modify:
{
	match:
	{	
        "classname" "func_button"
        "targetname" "crapper_butt1 s"
	}
	replace:
	{
	    "spawnflags" "4096"
	}
}

; --- Remove oil drums - bots get stuck on them ---
remove:
{
   "model" "models/props_c17/oildrum001.mdl"
}


; --- Remove axis spawn - bots can't get out ---
remove:
{
    "origin" "1247.44 1617.39 609"
    "angles" "0 0 0"
    "classname" "info_player_axis"
    "hammerid" "50114"
}

