;;EXAMPLE - remove all physics props
;remove:
;{
;   "classname" "/prop_physics.*/"
;}

;;EXAMPLE - add the hostage to the map
;add:
;{
;   "origin" "1376 3168 -112"
;   "HostageType" "0"
;   "classname" "hostage_entity"
; }

;;Convert door from use to touch 
modify:
{
	match:
	{	
		"targetname" "shelf"
		"classname" "func_door"
		"origin" "120 616 192"		
	}
	replace:
	{
		"spawnflags" "1024"
	}
}