name: Upload Stripper CFGs to SFTP

on:
  push:
    branches:
      - main
    paths:
      - 'addons/sourcemod/configs/stripper/**/*.cfg'

jobs:
  upload-stripper-cfgs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload .cfg files via SFTP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: ${{ secrets.SFTP_PORT }}
          source: |
            addons/sourcemod/configs/stripper/*.cfg
            addons/sourcemod/configs/stripper/*/*.cfg
          target: ${{ secrets.SFTP_TARGET }}
